Rara-Avis/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Rara-Avis/Temp/
Rara-Avis/Library/UnityAssemblies/
Rara-Avis/Library/

Rara-Avis/Assets/ART/textures/Pillars/Pillar1/TEX_Pillar1_Roughness.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar1.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar02/texPillar02Spec.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar02/texPillar02Rgh.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar02/texPillar02Nrm.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar02/texPillar02Met.png.meta
Rara-Avis/Assets/ART/textures/Pillars.meta
Rara-Avis/Assets/ART/textures/HighTech/Crate/texCrateRgh.png.meta
Rara-Avis/Assets/ART/meshes/environment/ruins/Materials/lambert6.mat
Rara-Avis/Assets/ART/meshes/environment/ruins/Materials.meta
Rara-Avis/Assets/ART/meshes/environment/cliff/Materials/lambert1.mat.meta
Rara-Avis/Assets/ART/meshes/environment/cliff/Materials/lambert1.mat
Rara-Avis/Assets/ART/meshes/environment/cliff/Materials.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smGrassTall.fbm/texGrassFlat.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smGrassTall.fbm/texGrassFlat.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smGrassTall.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smGrassPatchAlpha.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smGrassPatchAlpha.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smGrassPatchAlpha.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smFernWide.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smFernWide.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smFernWide.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smFernSpiral.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smFernSpiral.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smFernSpiral.fbm.meta
Rara-Avis/.vs/Rara-Avis/v15/sqlite3/storage.ide
Rara-Avis/Assets/Design/temporary/prefabs.meta
Rara-Avis/Assets/Design/temporary.meta
Rara-Avis/Assets/Design/switchScreen.cs.meta
Rara-Avis/Assets/Design/switchScreen.cs
Rara-Avis/Assets/Design/AIE-Logo.png.meta
Rara-Avis/Assets/Design/AIE-Logo.png
Rara-Avis/Assets/Design.meta
Rara-Avis/Assets/ART/textures/ruins/floatingStone/texFloatingStoneSpec.png.meta
Rara-Avis/Assets/ART/textures/ruins/floatingStone/texFloatingStoneRgh.png.meta
Rara-Avis/Assets/ART/textures/StartingArea/CornerSteps/texCornerStepBC.png.meta
Rara-Avis/Assets/ART/textures/StartingArea/CornerSteps/texCornerStepAO.png.meta
Rara-Avis/Assets/ART/textures/StartingArea/CornerSteps.meta
Rara-Avis/Assets/ART/textures/StartingArea.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar1/texPillar1Spec.png.meta
Rara-Avis/Assets/ART/meshes/meshCollider/Materials/lambert1.mat
Rara-Avis/Assets/ART/meshes/meshCollider/Materials.meta
Rara-Avis/Assets/ART/meshes/environment/trees/Materials/texFoliageTree.mat.meta
Rara-Avis/Assets/ART/meshes/environment/trees/Materials/texFoliageTree.mat
Rara-Avis/Assets/ART/meshes/environment/trees/Materials/matTreeWind_Base_Color.mat.meta
Rara-Avis/Assets/ART/meshes/environment/trees/Materials/matTreeWind_Base_Color.mat
Rara-Avis/Assets/ART/meshes/environment/ruins/Materials/lambert6.mat.meta
Rara-Avis/Assets/ART/textures/ruins/floatingStone/texFloatingStoneNrm.png.meta
Rara-Avis/Assets/ART/textures/ruins/floatingStone/texFloatingStoneMet.png.meta
Rara-Avis/Assets/ART/textures/ruins/floatingStone/texFloatingStoneE.png.meta
Rara-Avis/Assets/ART/textures/ruins/floatingStone/texFloatingStoneBC.png.meta
Rara-Avis/Assets/ART/textures/ruins/floatingStone/texFloatingStoneAO.png.meta
Rara-Avis/Assets/ART/textures/HighTech/Crate/texCrateNrm.png.meta
Rara-Avis/Assets/ART/textures/HighTech/Crate/texCrateMet.png.meta
Rara-Avis/Assets/ART/textures/HighTech/Crate/texCrateE.png.meta
Rara-Avis/Assets/ART/textures/HighTech/Crate/texCrateBC2.png.meta
Rara-Avis/Assets/ART/meshes/meshCollider/Materials/lambert1.mat.meta
Rara-Avis/Assets/ART/meshes/environment/trees/Materials.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar1/texPillar1Nrm.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar1/texPillar1Met.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar1/texPillar1BC.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar1/texPillar1AO.png.meta
Rara-Avis/Assets/ART/textures/HighTech/Crate/texCrateBC.png.meta
Rara-Avis/Assets/ART/textures/HighTech/Crate.meta
Rara-Avis/Assets/ART/textures/HighTech.meta
Rara-Avis/Rara-Avis.sln
Rara-Avis/Rara-Avis.csproj
Rara-Avis/Rara-Avis.Editor.csproj
Rara-Avis/Assets/Scene/splashScreen.unity.meta
Rara-Avis/Assets/Scene/splashScreen.unity
Rara-Avis/Assets/ART/textures/ruins/floatingStone.meta
Rara-Avis/Assets/ART/textures/alphas/foliage.meta
Rara-Avis/Assets/ART/textures/StartingArea/CornerSteps/texCornerStepSpec.tif.meta
Rara-Avis/Assets/ART/textures/StartingArea/CornerSteps/texCornerStepNrm.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar02/texPillar02BC.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar02/texPillar02AO.png.meta
Rara-Avis/Assets/ART/textures/Pillars/Pillar02.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smVenusFlyTrap.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smVenusFlyTrap.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smSucculentSml.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smSucculentMid.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smSucculentMid.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smSucculentLrg.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smShrubTall.fbm/alphaCanopy.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smShrubTall.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smShroomTiny.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smShroomTiny.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smShroomTiny.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smShroomFarm.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smShroomFarm.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smShroomFarm.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smRedLeaf.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smPlantSmall.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smPlantSmall.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smVenusFlyTrap.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smSucculentSml.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smSucculentSml.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smSucculentMid.fbm/alphaFoliage.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smSucculentLrg.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smSucculentLrg.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smShrubTall.fbm/alphaCanopy.tif.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smRedLeaf.fbm/alphaFoliage.tif
Rara-Avis/Assets/ART/meshes/environment/Foliage/smRedLeaf.fbm.meta
Rara-Avis/Assets/ART/meshes/environment/Foliage/smPlantSmall.fbm/alphaFoliage.tif.meta
